<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Contoso University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav" [ngbCollapse]="menuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item menu-dropdown" ngbDropdown *ngIf="authenticated && authService.user?.profile.role == 'Admin'">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Admin</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="['/admin/users']">Users</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="authenticated">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <li class="nav-item menu-dropdown" ngbDropdownToggle>
                <i class="fa fa-user"></i> {{ authService.user?.profile.name }}
                <div ngbDropdownMenu>
                  <button ngbDropdownItem>Some action</button>
                  <button ngbDropdownItem>Some action</button>
                  <button ngbDropdownItem>Some action</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>
