<div class="modal-header">
    <h4 class="modal-title">{{ getModalTitle() }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        &times;
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="userForm" autocomplete="off" novalidate id="user-form">

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input id="first-name" 
                type="text" 
                class="form-control" 
                formControlName="firstName">

            <div *ngIf="firstName.invalid && firstName.touched">
                <div class="text-danger" *ngIf="firstName.errors.required">
                    <em>First Name is required.</em>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input id="last-name" 
                type="text" 
                class="form-control"
                formControlName="lastName">

            <div *ngIf="lastName.invalid && lastName.touched">
                <div class="text-danger" *ngIf="lastName.errors.required">
                    <em>Last Name is required.</em>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="user-email">Email Address</label>
            <input
                class="form-control" 
                id="user-email" 
                type="email"
                formControlName="email"
                aria-describedby="email-help">

            <div *ngIf="email.invalid && email.touched">
                <div *ngIf="email.errors.required" class="text-danger">
                    <em>Email is required.</em>
                </div>
                <div *ngIf="email.errors.email" class="text-danger">
                    <em>Please enter a valid e-mail address.</em>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="isAddMode()">
            <label for="password">Password</label>
            <input type="password" 
                class="form-control" 
                id="password"
                formControlName="password">

            <div *ngIf="password.invalid && password.touched">
                <div class="text-danger" *ngIf="password?.errors?.required">
                    <em>Password is required.</em>
                </div>
            </div>

            <div class="text-danger" *ngIf="password?.errors?.minlength">
                <em>Password must be at least 6 characters long.</em>
            </div>
        </div>

        <div class="form-group">
            <label for="user-role">Role</label>
            <select id="user-role" 
                class="form-control" 
                formControlName="role">
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>

            <div *ngIf="role.invalid && role.touched">
                <div class="text-danger" *ngIf="role.errors.required">
                    <em>Role is required.</em>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="role.value == 'Instructor'">
            <label for="department">Department</label>
            <input id="department" 
                class="form-control" 
                type="text">
        </div>

        <div class="form-check">
            <input type="checkbox" 
                class="form-check-input" 
                id="user-active" 
                formControlName="active">
            <label class="form-check-label" for="user-active">Active</label>
        </div>

    </form>
 
</div>

<div class="modal-footer">
    <button type="button" 
        class="btn btn-secondary" 
        (click)="modal.close()">{{ isReadOnlyMode() ? "Close" : "Cancel" }}
    </button>   

    <button type="button" 
        class="btn btn-success" 
        [disabled]="userForm.invalid || isReadOnlyMode()"
        *ngIf="!isReadOnlyMode()"
        (click)="saveUser()">Save
    </button>    
</div>