<div class="mt-5 container">
  <h3 class="text-center">- All Users -</h3>
  <div class="row mt-5">
    <div class="col-md-12">

      <div class="btn-group mb-2" role="group" aria-label="user-crud-buttons">
        <button 
          type="button" 
          (click)="openModal('Add')"
          class="btn btn-outline-success">
          <span class="fa fa-plus"></span> Add
        </button>

        <button 
          type="button" 
          (click)="handleButtonClick('Edit')"
          [disabled]="!select.selectedItem"
          class="btn btn-outline-warning">
            <span class="fa fa-edit"></span> Edit
          </button>

        <button 
          type="button"
          class="btn btn-outline-danger"
          [disabled]="!select.selectedItem">
            <span class="fa fa-trash"></span> Delete
        </button>

        <button 
          type="button" 
          class="btn btn-outline-secondary" 
          [disabled]="!select.selectedItem"
          (click)="handleButtonClick('ReadOnly')" 
          *ngIf="select.selectedItem">{{ select.selectedItem?.firstName }} {{ select.selectedItem?.lastName }} selected
        </button>
      </div>

      <div id="users-table-container">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover text-center" id="users-table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" (click)="select.selectRow(user)">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>
                <fa-icon [icon]="renderUserActive(user.active)"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="users?.length === 0">
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          </tbody>
          </table>
      </div>

    </div>
  </div>
</div>